@import '@fortawesome/fontawesome-svg-core/styles.css';
@import 'tailwindcss';

@layer base {
  html {
    font-family: Times, serif;
    font-size: 11pt;
  }
  body {
    @apply mt-2;
  }
  h1 {
    @apply text-2xl font-bold;
  }
  h2 {
    @apply text-xl font-bold border-b border-solid border-b-gray-500;
    margin-top: 0.5rem;
    margin-bottom: 0.25rem;
  }
  h3 {
    @apply text-lg font-bold;
  }
  h4 {
    @apply text-base font-bold;
  }
  p,
  ul {
    @apply mb-1;
  }
  a {
    @apply text-blue-600 underline;
  }
}

@page {
  size: A4;
}

@media print {
  body {
    @apply mt-0;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  footer {
    display: none;
  }
}

a {
  color: unset;
}

hr {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

li {
  margin: 0;
}
